[project]
	description = FreeOSEK (submodule of https://github.com/ciaa/Firmware)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Esteban Volentini (evolentini)
[access "refs/for/refs/*"]
	read = group user/Esteban Volentini (evolentini)
	push = group user/Esteban Volentini (evolentini)
	label-Code-Review = -2..+2 group user/Esteban Volentini (evolentini)
	label-Verified = -1..+1 group user/Esteban Volentini (evolentini)
	rebase = group user/Esteban Volentini (evolentini)
	removeReviewer = group user/Esteban Volentini (evolentini)
	submit = group user/Esteban Volentini (evolentini)
[access "refs/heads/*"]
	read = group user/Esteban Volentini (evolentini)
	create = group user/Esteban Volentini (evolentini)
	push = +force group user/Esteban Volentini (evolentini)
	pushMerge = group user/Esteban Volentini (evolentini)
[access "refs/tags/*"]
	push = +force group user/Esteban Volentini (evolentini)
	pushTag = group user/Esteban Volentini (evolentini)
	pushSignedTag = group user/Esteban Volentini (evolentini)
